spring:
  #  DB μ„Έν… local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    hikari:
      connection-timeout: 10000
      maximum-pool-size: 5

file:
  root-location: "/attach"

# Logging μ„Έν…
logging:
  level:
    org:
      springframework:
        web: TRACE
        security: TRACE