spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    hikari:
      connection-timeout: 10000
      maximum-pool-size: 5
file:
  root-location: "/attach"

sso:
  host: ${SSO_HOST}
  port: ${SSO_PORT}
  api:
    key: ${SSO_API_KEY}
  retUrl: ${SSO_RETURL_PROD}

# Logging μ„Έν…
# TODO: μ κ±°
logging:
  level:
    org:
      springframework:
        web: TRACE
        security: TRACE
